html,body,h1,h2,h3,h4,p,div,ul,li,svg{
	margin:0;
	padding:0;
	font-size:100%;
}

/*------------Structure-------------*/
html,body{
	height: 100%;
	position: relative;
	background: rgb(245,245,245);
	color: rgb(50,50,50);
}
.container{
    height:100%;
    overflow:hidden;
    padding:0;
    margin:0;
    width:100%;
}
.container .canvas{
	width:40%;
	height: 100%;
	position: relative;
	float:left;
}
	.container #choropleth{
		width:50%;
	}


/*------------font-------------*/
body{
	font-family:"Roboto Condensed",Helvetica,sans-serif;
	font-size: 16px;
	line-height:120%;
    color:#fff;
}
h1{
	font-size: 2em;
	margin: 30px 0 30px;
}
h2{
	font-size:1.5em;
	margin: 0 0 20px;
}
p{
    margin: 0 0 10px;
}

/*------------tooltip-------------*/

/*-----------control--------------*/
.control{
	position:relative;
	top:100px;
	margin:auto;
	z-index:999;
}
.canvas{
	position:absolute;
	
}
.custom-tooltip{
	position:absolute;
	width:180px;
	padding:15px 10px 10px;
	background:#0092c8;
	color:rgb(245,245,245);
	z-index:1000;
	left:0;
	opacity:0;
}
	.custom-tooltip .data{
		font-weight:bold;
	}
/*------------svg-----------------*/
.canvas text{
	fill:rgb(80,80,80);
	font-size:14px;
}
.canvas .map .tract{
	stroke:none;
}
	.canvas .map .highlight{
		stroke:black;
		stroke-width:2px;
	}
